header h1{
    line-height: 80px;
    position:fixed;
    background-image: url(image/name.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size:contain;
    background-color: rgba(235, 223, 8, 0.731);
    width:100%;
    text-indent: -9999px;
}
header li{
    display: inline;
    margin-right: 10vw;
    font-size: 30px;
}
header ul{
    position: fixed;
    margin-top: 20px;
    left: 500px;
    font-weight: bold;
}

.line1{
    position: inherit;
}
.line1 img{
    margin-top: 80px;
}
.line1 p{
    color: black;
    position: absolute;
    font-size: 30px;
    width: 50%;
    margin-left: 50px;
    border: 3px solid;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.502);
    top: 350px;
}

.short{
    position: relative;
    transform: translateY(-5px);
    background-color: rgb(255, 235, 12);
    border-top: 2px solid;
    border-color: rgba(0, 0, 0, 0.708);
    font-size: 50px;
    text-align: center;
}

.short p{
    padding: 10px 0 10px 0;
}

.line2{
    position: relative;
    transform: translateY(-5px);
    border-top: 2px solid;
    background-color: rgb(255, 235, 12);
    font-size: 30px;
    border-color: rgba(0, 0, 0, 0.708);
}

.line2 p{
    position: absolute;
    margin-top: 100px;
    width: 30%;
    left: 50%;
    margin-left: 100px;
    border: 3px solid;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.502);
}

.line2 img{
    margin-top: 50px;
    margin-left: 50px;
    border: 4px solid;
    border-color: rgb(255, 156, 8);
}

.line3{
    position: relative;
    transform: translateY(-5px);
    background-color: rgb(255, 235, 12);
    font-size: 30px;
    padding-bottom: 200px;
}

.line3 p{
    position: absolute;
    margin-top: 270px;
    width: 30%;
    margin-left: 100px;
    border: 3px solid;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.502);
}

.line3 img{
    margin-top: 200px;
    margin-left: 40%;
    border: 4px solid;
    border-color: rgb(255, 156, 8);
}

.p1{
    position: absolute;
    transform: translateY(-1040px);
    margin-left: 70%;
    width: 30%;
    height: 50%;
}

footer{
    position: relative;
    transform: translateY(-5px);
    background-color: rgba(0, 0, 0, 0.888);
    border-top: 5px solid;
    border-color: black;
    font-size: 20px;
    color: white;
    text-align: center;
}
footer li{
    display: inline;
    margin-left: 50px;
    line-height: 50px
}

.a1{
    color: black;
    text-decoration: none;
}

.a1:hover{
    text-decoration: underline;
}

.a2{
    color: black;
    text-decoration: none;
}

.a2:hover{
    text-decoration: underline;
}

.a3{
    color: black;
    text-decoration: none;
}

.a3:hover{
    text-decoration: underline;
}

.a4{
    color: black;
    text-decoration: none;
}

.a4:hover{
    text-decoration: underline;
}

.line2-1{
    position: inherit;
    font-size: 30px;

}
.line2-1 img{
    margin-top: 80px;
}

.line2-1 p{
    position: absolute;
    margin-left: 50px;
    transform: translateY(-800px);
}

.ul1{
    position: absolute;
    margin-left: 50px;
    transform: translateY(-750px);
}

.ul2{
    position: absolute;
    margin-left: 50px;
    transform: translateY(-450px);
}

.p2-1{
    position:absolute;
    transform: translateY(-750px);
    margin-left: 45%;
}

.main2{
    background-color:  rgb(255, 235, 12);
}

.line4-1{
    font-size: 30px;

}
.line4-1 img{
    margin-top: 80px;
}

.line4-2{
    background-color: rgb(247, 243, 208);
}
.main3{
    background-color:  rgb(255, 235, 12);
}

.p3-1{
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 20px;
}

.p3-1 img{
    border: 4px solid;
    border-radius: 10px;
    border-color: black;
}

.p3-1 p{
    position: relative;
    margin-left: 55%;
    margin-bottom: 20px;
    width: 30%;
    transform: translateY(-400px);
    padding :20px;
    border: 4px solid;
    border-color: rgba(0, 0, 0, 0.797);
}

.pp0{
    transform: translateY(-400px);
    margin-left: 200px;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
}
.pp1{
    transform: translateY(-350px);
    margin-left: 200px;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
}
.pp2{
    transform: translateY(-300px);
    margin-left: 200px;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
}

.p5-2{
    position: absolute;
    margin-top: 80px;
}

.p5-1{
    margin-top: 10%;
    margin-left: 24%;
    position:absolute;
}
.f1{
    padding: 10px;
    border: 5px solid;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.708);
    font-size: 50px;
    font-weight: bold;
}
.f2{
    width: 40%;
    font-size: 30px;
    margin-top: 100px;
    margin-left: 150px;
    border-right: 3px solid rgba(0, 0, 0, 0.799);
}
.f3{
    position: absolute;
    width: 40%;
    font-size: 30px;
    transform: translateY(-400px);
    margin-left: 50%;
}
.f0{
    position: absolute;
    text-align: center;
    background-color: rgb(255, 235, 12);
    margin-top: 980px;
    padding-bottom: 150px;
}
.fo{
    position: absolute;
    margin-top: 1750px;
}
.z-1{
    transform: translateY(-200px);
}
.z0{
    transform: translateY(100px);
}

.p2-10{
    background-color:rgb(255, 235, 12) ;
    transform: translateY(-5px);
    font-size: 30px;
}
.p2-10 p{
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 15px;
    border-top: 3px solid black;
    padding-bottom: 20px;
}

*{
    border: 0;
    padding:0;
    margin : 0;
}